.appLayout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;

  padding: 24px;
}

.appHeader .ant-typography {
  color: white !important;
}

.appFooter {
  background-color: black;
  color: white;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}

.margin-sm {
  margin: 8px;
}

.text-center {
  text-align: center;
}
