.appLayout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;

  padding: 24px;
}

.appHeader {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.shoppingCartIcon {
  font-size: 30px;
  cursor: pointer;
}

.appFooter {
  background-color: black;
  color: white;
}

.appFooter a {
  color: white;
}

.appFooter .ant-col {
  text-align: center;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}

.margin-sm {
  margin: 8px;
}

.text-center {
  text-align: center;
}

.vertical-align {
  vertical-align: middle;
  display: flex;
}
